body{
    font-family: 'Lato', sans-serif;

    }
.header{
    width: 1920px;
height: 850px;
    background-color:#E554731A; 
    margin-bottom: 178px;
    justify-content:center;
    display: flex;
    }
.ht{
   padding-left: 252px;
   text-align: left;
}
.ht>h1{
padding-top: 50px;
color: #272727;
font-size: 80px;
font-style: normal;
}
.ht>p{
padding-right: 171px;
padding-top: 32px;
padding-bottom: 32px;
} 
.button{
    padding:20px 43px;
    color: black;
    border-radius: 8px;
    background: #E55473; 
    font-size: 20px;
    font-weight: 700px;
    color: white;
    border: none;
    }
.header>img{
    padding-top:50px;
   padding-right: 50px;
   padding-left: 97px;
}

.hp{
    text-align: center;
    padding-bottom: 48px;
    margin-top: 178px;
    
}
.ps{
    font-size: 40px;
    font-weight:800px;
    color: #272727;
}

.paragraph{

margin-left: 663px;
margin-right: 663px;
}
.bannerimages{
    display: flex;
    align-content: center;
    margin-top: 0px;
    padding-bottom: 100px;

}
.f1{
padding-left: 240px;
margin-right: 24px;

}
.f2{
    padding-left: 24px;
    margin-right: 24px;
    }
.f3{
    padding-left: 24px;
    margin-right: 24px;
    }
.f1>img{
    background-color: #A7216226;
    padding-left:76px ;
    padding-right: 78px;
    padding-top: 110px; 
    border-radius: 300px 300px 0px 0px;
}
.f2>img{
    background-color: #0597A026;
    padding-left:47px ;
    padding-right: 47px;
    padding-top: 117px; 
    padding-bottom: 51px;
    border-radius: 300px 300px 0px 0px;
}
.f3>img{
    background-color: #477D1126;
    padding-left:75px ;
    padding-right: 75px;
    padding-top: 67px; 
    border-radius: 300px 300px 0px 0px;
}
.link{
    padding-left: 181px;
    font-size: 20px;
    font-weight: 700px;
    color: #272727;
    
}
.services{

display: flex;
justify-content:space-around;
width: 1440px;
height: 232px;
border-radius: 8px;
margin-left:262px;
padding-top: 86px;
background-color:#2727270D;
}
.gt{
font-size: 24px;
text-align: center;
}
.gs>h4{
padding-left: 50px;
}
.gs>img{
    padding-left: 150px;
}
.gs2{
   margin-right:120px;
}
.gs2>img{
    padding-left:70px;
}
.gs3>img{
    margin-left: 10px;
}
.gs>h4{
    padding-left: 80px;
    }
    .offer{
         margin-top: 128px;
        display: flex;
        width: 1922px;
        height: 620px;
        background-color: #E554730D;
        justify-content: center;
        background-color: #E554730D;
        
    }
    .off{
        
        color: #E55473;
    }
    .sale>h2{
        font-size: 40px;
        font-weight: 800px;
        margin-top: 230px;
        padding-left: 380px;   
    }
    .sale>p{
        text-align: center;
        font-size: 18px;
        font-weight: 400px;
        padding-top: 24px;
        padding-left: 395px;
        margin-right: 240px;   
    }
    .sale>button{
        margin-left: 560px;
        margin-top: 32px;
    }
    .bnr>img{
        margin-right: 500px;
        margin-top: 100px;
    }
  