body{
    font-family: 'Lato', sans-serif;
    }
.header{
    background-color:#E554731A; 
    margin-bottom: 178px;
    justify-content:center;
    display: flex;
    }
.ht{
   padding-left: 252px;
   text-align: left;
}
.ht>h1{
padding-top: 50px;
color: #272727;
font-size: 80px;
font-style: normal;
}
.ht>p{
padding-right: 171px;
padding-top: 32px;
padding-bottom: 32px;
} 
.ht>button{
    padding:20px 43px;
    color: black;
    border-radius: 8px;
    background: #E55473; 
    font-size: 20px;
    font-weight: 700px;
    color: white;
    border: none;
    }
.header>img{
    padding-top:50px;
   padding-right: 50px;
   padding-left: 97px;
}

.hp{
    text-align: center;
    padding-bottom: 48px;
    margin-top: 178px;
}
.ps{
    font-size: 40px;
    font-weight:800px;
    color: #272727;
    
}

.paragraph{

margin-left: 663px;
margin-right: 663px;
}
.bannerimages{
    display: flex;
    align-content: center;
    margin-top: 0px;

}
.f1{
padding-left: 240px;
margin-right: 24px;

}
.f2{
    padding-left: 24px;
    margin-right: 24px;
    }
.f3{
    padding-left: 24px;
    margin-right: 24px;
    }
.f1>img{
    background-color: #A7216226;
    padding-left:76px ;
    padding-right: 78px;
    padding-top: 110px; 
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
}
.f2>img{
    background-color: #A7216226;
    padding-left:47px ;
    padding-right: 47px;
    padding-top: 117px; 
    padding-bottom: 51px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
}
.f3>img{
    background-color: #A7216226;
    padding-left:75px ;
    padding-right: 75px;
    padding-top: 67px; 
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
}
.link{
    padding-left: 181px;
    font-size: 20px;
    font-weight: 700px;
    color: #272727;
}